#auth-page-wrapper {
    height: 100vh;
    min-height: 600px;
    width: 100%;
    position: fixed;
}
/* --- Header Section --- */
.auth-nav-header {
    padding: 20px 0 15px;
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    z-index: 1;
}
/* .auth-nav-header.scrolled-nav {
    padding: 10px 0 5px;
} */
.auth-nav-header img.brand-img {
    width: 120px;
}
button.dropdown-trigger.flex-div {
    background: transparent;
    border: none;
    font-size: 14px;
}
.language-block-wrapper {
    margin-right: 25px;
}
a.create-account-btn, button.create-account-btn {
    display: block;
    background: #89163B;
    border-radius: 6px;
    height: 44px;
    line-height: 44px;
    min-width: 160px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s;
    border: 1px solid var(--pry-color);
}

button.create-account-btn {
    background: #FCF9FA;
    color: #353D46;
    border: 1px solid rgb(128, 127, 127, .3);
    font: bolder;
}
a.create-account-btn.pry-bg:hover {
    background-color: transparent;
    color: var(--pry-color);
}
span.selected-language {
    padding: 0 5px;
}
#language-list a, span.selected-language {
    text-transform: uppercase;
}
.auth-desc a {
    color: #58A55C;
}
@media(max-width: 600px) {
    #auth-main-wrapper {
        position: relative;
    }
}
/* --- end of Header Section --- */

/* --- body-section Section --- */
section.auth-wrapper.container {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.auth-block-wrapper {
    width: 90%;
    max-width: 430px;
    background: #FFFFFF;
    box-sizing: border-box;
    margin: 20px auto;
    position: relative;
    overflow-x: hidden;
}
.progress.load-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    background-color: transparent;
}
.progress.load-progress .indeterminate {
    background-color: var(--pry-color);
}
ul.form-nav {
    display: inline-block;
    background: #FCF9FA;
    border: 1px solid rgba(119, 119, 119, 0.2);
    border-radius: 10px;
    padding: 5px;
    position: relative;
    left: 0;
    right: 0;
    width: auto;
}
ul.form-nav li {
    display: inline-block;
}
a.route-link {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #353D46;
    display: block;
    padding: 10px 10px;
    min-width: 120px;
    text-transform: uppercase;
}
a.route-link.active-link {
    color: white;
    background: var(--pry-color);
    border-radius: 10px;
    padding: 10px 15px;
    min-width: 130px;
}
h1.greet-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.212264px;
    color: #353D46;
    margin: 0;
}
h1.greet-title span {
    color: #6E7883;
}
p.greet-desc, p.greet-email-desc {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #353D46;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 22px;
}
p.greet-desc a {
    color: #58A55C;
    font-weight: bold;
}
p.greet-email-desc a {
    color: #353D46;
}
.input-field input.inp-field, .select-wrapper input.select-dropdown {
    background: #FFFFFF;
    border: 1px solid rgba(119, 119, 119, 0.2) !important;
    box-sizing: border-box;
    border-radius: 10px;    
    height: 55px;
    outline: none;
    box-shadow: none !important;
    padding: 0 15px;
    /* width: calc(100% - 30px); */
    width: 100%;
    font-size: 14px;
}
.input-field label {
    left: 25px;
    top: 7px;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}
/* .country-list-wrapper.input-field.col label {
    left: 0 !important;
} */
.input-field input.inp-field:focus + label {
    color: #353D46 !important;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: var(--pry-color);
}
span.show-password {
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    top: 30%;
    right: 30px;
    cursor: pointer;
}
.input-field>label:not(.label-icon).active {
    transform: translateY(-22px) scale(0.85) !important;
    transform-origin: 0 0;
    left: 0.75rem;
}
.input-field.mag-d-10 {
    margin-bottom: 10px;
}
.input-field.mag-t-0 {
    margin-top: 10px;
}
.alt-link-div {
    font-size: 13px;
    line-height: 16px;
    float: left;
    width: 100%;
    /* padding: 0 15px; */
    margin-top: 10px;
}
.txt-link-side {
    font-size: 13px;
    line-height: 16px;
    /* text-align: center; */
    color: #777777;
    margin-bottom: 20px;
}
.input-row.row {
    margin: 20px 0 40px;
}
.submit-btn-wrapper {
    margin: 35px 0;
}
button.submit-btn {
    background: var(--pry-color);
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-family: var(--font);
    width: 100%;
    height: 46px;
    padding: 0 20px;
}
button.submit-btn:focus, button.submit-btn:hover {
    background-color: var(--pry-color);
}
.support-and-privacy.flex-div.justify-content-btw {
    width: 100%;
    max-width: 430px;
    margin: auto;
    font-size: 13px;
    line-height: 16px;
}
span.p-line {
    padding: 0 10px;
}
button.txt-btn {
    background-color: transparent;
    box-shadow: none !important;
    border: none;
    cursor: pointer;
}
#phone-login, #referral-field {
    display: none;
}
img.caret-icon {
    position: absolute;
    top: 26px;
    z-index: 1;
    right: 23px;
}
span.toggle-show-password {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    opacity: 0.8;
    cursor: pointer;
    color: var(--pry-color);
}
.phone-number-wrapper .select-wrapper input.select-dropdown {
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
}
.phone-number-wrapper .input-field input.inp-field {
    border-radius: 0 0 10px 10px;
}
.dropdown-content.select-dropdown {
    width: 100% !important;
    height: auto !important;
}

/* OTP Style */
#verification-codes {
    display: flex;
    margin: 50px 0 10px;
}
#verification-codes input {
    text-align: center;
    line-height: 1;
    font-size: 30px;
    outline: none;
    width: 100% !important;
    transition: all 0.2s ease-in-out;
    margin-right: 10px;
    padding: 3px 0;
    height: 60px;
    background: #F9F9F9;
    border: 1px solid rgba(119, 119, 119, 0.2);
    box-sizing: border-box;
    border-radius: 12px;
}
#verification-codes input:last-child {
    margin-right: 0;
}
#verification-codes input:focus {
  border-color: var(--pry-color);
  box-shadow: 0 0 5px var(--pry-color) inset;
}
#verification-codes input::-moz-selection {
  background: transparent;
}
#verification-codes input::selection {
  background: transparent;
}
.input-error-txt {
    font-size: 12px;
    letter-spacing: -0.1px;
    color: var(--pry-color);
    text-align: center;
}
/* end of OTP Style */

#identity-form p.greet-desc {
    font-size: 14px;
}
#identity-form .input-row.row {
    margin: 35px 0 40px;
}

#congrats-form {
    padding-bottom: 40px;
}
#verified-form {
    padding-bottom: 30px;
}
img.congrats-img {
    position: relative;
    max-width: 200px;
    width: 50%;
    /* margin-top: -100px; */
    margin-bottom: 10px;
}
#verified-form img.congrats-img {
    margin-bottom: 0;
}

form#reset-email-form, form#reset-phone-form, #new-password-form {
    padding-top: 20px;
}
form#reset-phone-form {
    display: none;
}
#new-password-form .submit-btn-wrapper {
    margin-top: 0;
}
#old-password-row {
    margin-bottom: 20px;
}
.input-field.status-error input {
    box-shadow: 0px 0px 3px red !important;
}
small.error-text {
    color: red;
    margin-top: -5px;
    display: block;
    margin-left: 0px;
}
form#reset-phone-form .input-field {
    margin-top: 30px;
}

#bvn-verification-form .modal-overlay {
    opacity: 0 !important;
}
.agreement-div {
    font-size: 12px;
}
.agreement-div a {
    font-weight: bold;
    color: black;
}

section.sample-links {
    position: fixed;
    right: 20px;
    display: flex;
    flex-direction: column;
    top: 30%;
}
.gap-height {
    height: 10px;
}

.input-row.row.ald {
    margin-bottom: 20px;
}
.submit-btn-wrapper.pidn {
    margin: 20px 0;
}

/* --- Modal Section --- */
div.modal:not(.datepicker-modal) {
    background: #FFFFFF;
    border: 1px solid rgba(119, 119, 119, 0.2);
    box-sizing: border-box;
    border-radius: 33px;
    max-width: 530px;
}
.user-pix-div {
    margin: 20px 0;
}
img.user-pix {
    max-width: 130px;
}
.user-detected-notice h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 0;
}
.user-detected-notice p {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #6E7883;
}
.flex-btn-wrapper.flex-div {
    justify-content: center;
    margin: 40px 0 20px;
}
.flex-btn-wrapper.flex-div :first-child {
    margin-right: 20px;
}

button.btn {
    box-shadow: none !important;
    text-transform: none;
}
button.pry-btn {
    min-width: 130px;
    height: 46px;
}
button.pry-btn.continue-btn {
    min-width: 130px;
    background: var(--pry-color);
    border-radius: 10px;
}
button.btn.cancel-btn {
    color: #353D46;
    font-size: 14px;
    background: #FCF9FA;
    border: 1px solid rgba(119, 119, 119, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
}
.mpodal-content-block {
    padding: 10px 20px;
}
button.modal-btn.flex-div {
    justify-content: center;
}
button.pry-btn.continue-btn span {
    margin-right: 5px !important;
}
button.pry-btn.continue-btn span.right-arr {
    font-size: 20px;
}

.grid-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.datepicker-calendar .select-wrapper input.select-dropdown {
    border: none !important;
    padding: 0 !important;
    width: 70px !important;
}
.datepicker-date-display {
    background-color: var(--pry-color);
}
.datepicker-table td.is-today {
    color: var(--pry-color);
}
.datepicker-day-button:focus {
    background-color: rgba(234, 98, 18, 0.25);
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: var(--pry-color);
}
.datepicker-calendar button:focus, .datepicker-table td.is-selected {
    background-color: rgba(234, 98, 18, 0.7) !important;
}
/* --- end of Modal Section --- */

@media(min-width: 601px) {
    .f-name-field {
        padding-right: 10px !important;
    }
    .l-name-field {
        padding-left: 10px !important;
    }
    #identity-form p.greet-desc {
        width: 80%;
        margin: auto;
    }
    div#lottie-2 {
        top: -120px;
        z-index: 1;
    }
    section.auth-wrapper.container {
        z-index: 2;
    }
}
@media(min-height: 801px) and (min-width: 993px) {
    section.auth-wrapper.container {
        top: 45%;
    }
    /* section.auth-wrapper.container.identity-page-wrapper {
        transform: scale(0.85) translateY(-50%);
    } */
}
@media(max-height: 800px) {
    section.auth-wrapper.container {
        transform: scale(0.83) translateY(-50%);
    }
    section.auth-wrapper.container.identity-page-wrapper {
        transform: scale(0.8) translateY(-50%);
    }
}
@media(max-width: 600px) {
    .auth-block-wrapper {
        width: 100%;
    }
    section.auth-wrapper.container {
        top: 42%;
    }
    .submit-btn-wrapper.flex-div {
        flex-direction: column;
        text-align: left;
        margin-bottom: 30px;
        /* align-items: baseline; */
    }
    .txt-link-side {
        margin-bottom: 20px;
    }
    .grid-field {
        grid-template-columns: 100%;
    }
}
@media(max-width: 330px) {
    .alt-link-div.flex-div.justify-content-btw {
        flex-direction: column;
    }
    .alt-link-div.flex-div button.txt-btn {
        margin-bottom: 10px;
    }
}
/* --- end of body-section Section --- */

/* --- Footer Section --- */
footer#auth-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}
footer#auth-footer > .flex-div.container {
    justify-content: center;
    padding: 15px 0;
}
.copyright-div {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #353D46;;
}
@media(max-width: 600px) {
    footer#auth-footer {
        position: relative;
        margin-top: 30px;
    }
    footer#auth-footer > .flex-div.container {
        flex-direction: column;
        padding: 10px 15px;
        text-align: center;
    }
}
/* --- end of Footer Section --- */
