body {
    min-height: 100vh;
    position: relative;
    background-color: #FFFFFF;
    /* background-color: teal; */
    overflow: hidden;
}
.App {
    background-color: #FAFAFA;
}
a:hover {
    text-decoration: none;
}
#body-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: minmax(250px, 19%) 1fr;
    /* grid-gap: 20px; */
    transition: all 1.5s;
    overflow: hidden;
}
/*---============== SideBar Styling =================---*/
#side-bar {
    background-color: #FFFFFF;
    color: #93A3C0;
    transition: width 1.5s;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
}
#side-bar:hover {
    overflow: auto;
}
#side-bar::-webkit-scrollbar {
	width: 3px;
    display: none;
}
#side-bar::-webkit-scrollbar-thumb {
	background: rgba(53, 61, 70, 0.5);
}
#side-bar::-webkit-scrollbar-thumb:hover {
	background: rgba(249, 249, 249, 0.4);
}
/* #side-bar .brand-logo {
    width: 100%;
    margin: 20px 0 10px;
    text-align: center;
    margin-left: 25px;
} */
.user-block-wrapper {
    padding: 0 10px;
}
#side-bar .brand-logo {
    position: absolute;
    bottom: 30px;
    left: 25px;
}
#side-bar .brand-logo .brand-img {
    width: 100%;
    max-width: 115px;
}
.sidebar-footer {
    font-size: 12px;
    line-height: 16px;
    color: #979797;
}
.nav-list-wrapper > div {
    margin: 15% 0;
}
.nav-list-wrapper > div:last-child {
    margin-bottom: 0;
}
.nav-list-wrapper ul {
    margin: 0;
}
.nav-list-wrapper ul li.link-wrapper {
    padding: 5px 10px;
    margin: 2px 0;
    transition: all 1s;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #6E7883;
}
.nav-list-wrapper ul li.link-wrapper a.pg-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #6E7883;
    display: block;
}
img.link-img, img.a-link-img {
    height: 15px;
    align-self: center;
    margin-right: 10px;
}
img.a-link-img {
    display: none;
}
.sidebar-overlay {
    display: none;
}

.nav-list-wrapper .collapsible {
    box-shadow: none;
    border: none;
    padding: 0;
}
.collapsible-header.pg-link {
    background-color: transparent;
    position: relative;
}
.collapsible-header.pg-link:hover {
    background-color: white;
}
.link-wrapper .pg-link, .link-wrapper .pg-sub-link a {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    justify-content: space-between;
}
.link-wrapper .pg-sub-link a {
    position: relative;
}
.link-wrapper.active .pg-link, .link-wrapper .pg-sub-link a.active,
.link-wrapper .pg-sub-link a:hover, .nav-list-wrapper ul li.link-wrapper a.pg-link:hover {
    background: #FCF9FA;
    box-shadow: 2px 6px 15px -1px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}
.link-wrapper .pg-sub-link:not(:last-child) {
    margin-bottom: 10px;
}
.link-wrapper .collapsible-body {
    padding: 1rem;
    border: none;
    padding-right: 0;
    position: relative;
    margin-left: 22px;
}
.link-wrapper .collapsible-body::before {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 40px);
    top: 0;
    left: 0;
    mix-blend-mode: normal;
    opacity: 0.4;
    background: rgba(151, 151, 151, 0.5);
}
img.curved-path {
    position: absolute;
    left: -20px;
    width: 25px;
}
li.link-wrapper a {
    color: #6E7883;
    display: block;
}
.caret-icon {
    transition: transform 1s;
    transform: rotate(-90deg);
    opacity: 0;
}
.collapsible-header.pg-link:hover .caret-icon, 
.link-wrapper.active .pg-link .caret-icon {
    opacity: 1;
}
li.link-wrapper.active .caret-icon {
    transform: rotate(0deg);
}

#side-bar .mode-switch-wrapper {
    box-sizing: border-box;
    border-radius: 10px;
    width: 110px;
    text-align: center;
    height: 60px;
    line-height: 54px;
    padding-left: 6px;
    margin-left: 20px;
}

#side-bar .dropdown-trigger.flex-div {
    justify-content: space-between;
    background: #FCF9FA;
    border: 1px solid rgba(119, 119, 119, 0.2);
    border-radius: 10px;
    padding: 10px 12px;
}
.user-name-txt.bold-txt {
    color: #353D46;
}
.user-role {
    font-size: 12px;
    line-height: 16px;
    color: #979797;
}
/*---============= end of SideBar Styling =================---*/

/*---=== Dashboard-Home ===---*/
section#content-body {
    background-color: #F9F9F9;
    color: #353D46;
}
.page-content-block-wrapper {
    margin-top: 110px;
}
.page-content-wrapper {
    padding-bottom: 30px;
}
.hover-scale {
    cursor: pointer;
}

.section-row-wrapper {
    margin: 20px 0;
}
.grid-row-1 {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
}
.grid-row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.section-block, .section-block-2 {
    border: 1px solid rgba(119, 119, 119, 0.2);
    box-sizing: border-box;
    border-radius: 12px;
    padding: 20px;
}
.section-block-header, .section-block-header-2 {
    justify-content: space-between;
    border-bottom: 1px solid rgba(119, 119, 119, 0.2);
    margin-bottom: 20px;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}
.section-block-header {
    border-bottom: none;
}

.section-block.wallet-card {
    position: relative;
    min-height: 250px;
}

.section-block.wallet-card > * {
    position: relative;
}
.wallet-card-logo-div {
    text-align: right;
}
.balance-wrapper {
    margin: 5px 0;
}
span.balance-wrapper-txt {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}
#balance-select-wrapper {
    max-width: 200px;
    margin-bottom: 0;
    margin-top: 0;
}
#balance-select-wrapper .select-wrapper input.select-dropdown {
    background-color: transparent;
    border: none !important;
    padding-left: 0;
    margin-bottom: 0;
}
#balance-select-wrapper .select-wrapper .caret {
    display: none;
}
h4.wallet-balance {
    font-weight: 500;
    font-size: 43px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: #353D46;
    margin-top: 0;
}
#balance-select-wrapper img.inp-caret-icon {
    right: 45px;
}
.balance-btns-wrapper {
    margin-top: 30px;
}
.balance-wrapper button.balance-btn {
    border: none;
    border-radius: 6px !important;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 145px;
    height: 43px;
    cursor: pointer;
}
.balance-wrapper button.balance-btn:first-child {
    margin-right: 20px;
}
.balance-wrapper button.balance-btn.sec-btn {
    background: #fff;
    border: 1px solid rgba(119, 119, 119, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
}
.balance-wrapper button.balance-btn span {
    font-size: 18px;
    padding-left: 5px;
}
.payment-reminder-row {
    justify-content: space-between;
    padding: 8px 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #6E7883;
}
.payment-reminder-footer {
    justify-content: space-between;
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.pr-modal-trigger {
    cursor: pointer;
}
.pr-modal-trigger img {
    padding-right: 10px;
}
h4.fig-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    margin: 15px 0;
}

span.disc {
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background-color: #777777;
}

.success-rate-wrapper-block {
    font-size: 12px;
}

.bill-payment-wrapper-block {
    font-size: 12px;
}
a.view-all-link {
    color: #9E9E9E;
}
a.view-all-link:hover {
    color: #353D46;
    text-decoration: none;
}


.recent-tranx-wrapper {
    font-size: 12px;
}
.tranx-activity {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 4px;
}
img.tranx-activity-icon {
    margin-right: 18px;
}
small.tranx-activity-status {
    font-size: 12px;
    line-height: 14px;
}
table.brief-tranx-table tbody tr td {
    padding: 15px 0;
}
table.brief-tranx-table tbody tr:last-child {
    border-bottom: none;
}
table.brief-tranx-table tbody td > span {
    font-size: 16px;
    line-height: 14px;
    color: #6E7883;
}
table.brief-tranx-table td:last-child {
    text-align: right;
    color: #777777;
}
table.brief-tranx-table td:last-child > .flex-div {
    justify-content: end;
}
table.brief-tranx-table  td .tranx-amount {
    font-weight: 600;
    color: #353D46;
}
img.table-menu-circle {
    margin-left: 15px;
}
.success-transaction {
    color: #58A55C !important;
}
.pending-transaction {
    color: #353D46 !important;
}
.failed-transaction {
    color: #C92135 !important;
}
.unresolved-transaction {
    opacity: 0.7;
    color: #353D46 !important;
}
@media(min-width: 993px) {
    section#content-body {
        overflow: auto;
    }
}
/*---=== end of Dashboard-Home Styling ===---*/

/*---=== Getting Started Styling ===---*/
.greeting-wrapper {
    margin: 20px 0;
}
h2.greet-user.flex-div {
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
    letter-spacing: -1px;
}
h2.greet-user.flex-div span {
    margin-right: 10px;
}
.greeting-wrapper > span {
    font-size: 14px;
    line-height: 18px;
    color: #6E7883;
}

.change-language-wrapper {
    margin: 40px 0 30px;
}
button.btn.language-menu-btn.flex-div {
    box-shadow: none;
    background: #F9F9F9;
    border-radius: 23px;
    color: #353D46;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
    display: flex;
}
button.btn.language-menu-btn.flex-div > span {
    margin: 0 5px;
}
ul.dropdown-content {
    border-radius: 8px;
}
.pending-actions-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 40px 0 30px;
}
.pending-action-block {
    background: #F9F9F9;
    border-radius: 16px;
    padding: 20px;
}
.pending-action-block > .center {
    padding: 20px;
}
p.pending-description {
    font-size: 14px;
    margin: 20px 0 10px;
}
.pending-btn-wrapper {
    margin: 30px 0 20px;
}
.dashboard-page button.pry-btn, .dashboard-page a.pry-btn {
    background: var(--pry-color);
    color: #FFFFFF;
    width: 150px;
    height: 40px;
}
.dashboard-page a.pry-btn {
    display: inline-block;
    line-height: 40px;
    color: #FFFFFF !important;
    text-decoration: none !important;
}
.dashboard-page button.pending-btn.pry-btn, .dashboard-page a.pending-btn.pry-btn {
    width: 90%;
    height: 46px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
}
.dashboard-page a.pending-btn.pry-btn {
    line-height: 46px;
}

span.right-arr {
    font-size: 18px;
    padding-left: 5px;
}

img.copy-icon {
    cursor: pointer;
}
/*---=== end of Getting Started Styling ===---*/

/*---=== Pending Task Styling ===---*/
.pending-tasks-wrapper {
    padding-bottom: 40px;
}
fieldset {
    padding: 0;
    border: none;
}
.page-header-wrapper {
    margin: 30px 0;
}
h2.page-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.571429px;
}
.page-header-wrapper span {
    font-size: 14px;
    line-height: 20px;
    color: #6E7883;
}
.page-header-wrapper > div.left-align {
    max-width: 500px;
    line-height: 1;
}

#kyc-form {
    box-sizing: border-box;
    min-height: 400px;
    max-width: 500px;
    margin: auto;
}
.dashboard-page .input-field>label:not(.label-icon).active {
    transform: translateY(-15px) scale(0.85) !important;
}
.change-avatar-wrapper .file-field .btn {
    float: none;
    height: auto;
    background: white;
    color: var(--pry-color);
    font-size: 10px;
    padding: 0;
    width: 80px;
    height: 80px;
    overflow: hidden;
    line-height: normal;
    position: relative;
    border-radius: 50%;
    box-shadow: none;
}
.upload-logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.uploaded-img-div {
    display: none;
    /* position: relative; */
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
}
.uploaded-img-div img {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.page-completed-number {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    background: #FFFFFF;
    border: 1px solid rgba(119, 119, 119, 0.2);
    box-sizing: border-box;
    border-radius: 17.5px;
    padding: 8px 20px;
}

.username-wrapper {
    margin-left: 10px;
}
h4.username {
    padding: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    margin: 0;
}
.username-wrapper span {
    font-size: 12px;
    line-height: 16px;
    color: #6E7883;
}

.dashboard-form .single-field .form-inp-field, 
.dashboard-form .single-field .select-dropdown.dropdown-trigger,
.dashboard-form textarea.form-inp-field {
    background: #FFFFFF !important;
    border: 1px solid rgba(119, 119, 119, 0.2) !important;
    box-sizing: border-box !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    height: 54px !important;
    padding: 0 24px !important;
    font-size: 14px !important;
    line-height: 18px;
    margin-bottom: 0;
}
.dashboard-form textarea.form-inp-field.materialize-textarea {
    min-height: 120px !important;
    height: auto !important;
    padding: 12px 24px !important;
}
.dashboard-form .multiple-fields .sub-inp-field,
.dashboard-form .multiple-fields .select-dropdown.dropdown-trigger {
    background: transparent !important;
    box-sizing: border-box !important;
    box-shadow: none !important;
    height: 54px !important;
    padding: 0 24px !important;
    font-size: 14px !important;
    line-height: 18px;
    border-color: rgba(119, 119, 119, 0.2) !important;
    margin-bottom: 0;
}
.dashboard-form .multiple-fields .select-dropdown.dropdown-trigger {
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
.dashboard-form .multiple-fields .last-inp-field {
    margin-bottom: 0;
    border-bottom: 0;
}
.dashboard-form .input-field label {
    font-size: 12px;
    line-height: 13px;
    color: #6E7883 !important;
    background: #F9F9F9;
}
.dashboard-form .input-field label:not(.active) {
    top: 10px;
    left: 20px;
}
.dashboard-form .input-field > label:not(.label-icon).active {
    transform: translateY(-7px) scale(0.9);
    transform-origin: 0 0;
    left: 30px;
}
.dashboard-form .select-field.input-field > label:not(.label-icon).active {
    transform: translateY(20px) scale(0.9);
    z-index: 1;
}
form.dashboard-form .select-wrapper .caret {
    display: none;
}
img.inp-caret-icon {
    position: absolute;
    top: 25px;
    right: 28px;
    z-index: 1;
}
img.location-inp-icon {
    position: absolute;
    top: 20px;
    right: 28px;
    z-index: 1;
}
form.dashboard-form .dropdown-content li>a, 
form.dashboard-form .dropdown-content li>span {
    font-size: 14px;
    color: var(--pry-color);
    display: block;
    line-height: 30px;
    padding: 8px 16px;
}
form.dashboard-form .select-dropdown li.disabled, 
form.dashboard-form .select-dropdown li.disabled>span, 
form.dashboard-form .select-dropdown li.optgroup {
    color: rgba(0,0,0,0.3);
}
.btn.choose-file-btn {
    position: absolute;
    background: transparent;
    font-size: 14px;
    color: #C92135;
    text-transform: none;
    box-shadow: none;
    right: 0;
    top: 5px;
}
/* .file-field .btn.choose-file-btn span {
    position: absolute;
    right: 20px;
} */
form.dashboard-form .multiple-fields .file-field .file-path-wrapper {
    padding-left: 0;
}
.input-field.multiple-fields {
    border: 1px solid rgba(119, 119, 119, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    /* overflow: hidden; */
    background-color: #FFFFFF;
}
.input-field.grid-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.checkbox-field {
    margin: 20px 0;
}
.checkbox-field label {
    color: rgba(110, 120, 131, 0.5);
}
form.dashboard-form [type="checkbox"]+span:not(.lever) {
    padding-left: 20px;
}
form.dashboard-form [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    height: 12px;
    width: 12px;
    border: 2px solid #777777;
    top: 6px;
}
form.dashboard-form [type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 6px;
    width: 12px;
    height: 12px;
    border: 2px solid var(--pry-color);
    background-color: var(--pry-color);
    z-index: 0;
}
form.dashboard-form [type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: 5px;
    left: 1px;
    width: 5px;
    height: 8px;
}
form.dashboard-form [type="radio"]:checked+span:after, 
form.dashboard-form [type="radio"].with-gap:checked+span:before, 
form.dashboard-form [type="radio"].with-gap:checked+span:after {
    border: 2px solid var(--pry-color);
}
form.dashboard-form [type="radio"]:checked+span:after, 
form.dashboard-form [type="radio"].with-gap:checked+span:after {
    background-color: var(--pry-color);
}
form.dashboard-form .input-field {
    margin-bottom: 1.5rem;
}
.input-field.grid-field .input-field {
    margin-bottom: 0;
}
.btw-title {
    margin: 30px 0 20px;
}
.business-type-txt {
    color: #353D46;
    font-size: 14px;
    line-height: 18px;
}
.business-type-desc {
    color: #979797;
    line-height: 18px;
    font-size: 14px;
}
.btw-label-wrapper {
    margin-bottom: 10px;
}
form.dashboard-form #business-details .submit-btn-wrapper {
    margin-top: 40px;
}
button.submit-btn {
    cursor: pointer;
}

.form-header-wrapper {
    width: 80%;
    margin: 20px 0;
}
h4.form-header-title {
    font-size: 18px;
    line-height: 23px;
}
span.form-header-desc {
    font-size: 12px;
    line-height: 16px;
    color: #979797;
}

form.dashboard-form .inner-checkbox-field {
    position: relative;
    padding-left: 20px;
}
form.dashboard-form .inner-checkbox-field span {
    font-size: 10px;
    color: rgba(110, 120, 131, 0.5);
}
form.dashboard-form .inner-checkbox-field [type="checkbox"].filled-in:checked+span:not(.lever):before {
    left: 0.5px;
}

.social-input-field {
    display: none;
}
.social-input-field .flex-div .input-field {
    width: 100%;
    padding-right: 20px;
}
.social-media-trigger-wrapper ul {
    display: inline-block;
}
li.social-input-trigger {
    color: #C92135;
    cursor: pointer;
    margin: 10px 20px;
}
li.social-input-trigger:hover span:nth-child(2) {
    text-decoration: underline;
}
li.social-input-trigger span:first-child {
    margin-right: 10px;
}

.submit-btn-wrapper.sbw-2 {
    margin: 50px 0 10px;
}
span.hide-social-input {
    cursor: pointer;
}
div.review-field {
    background: #FFFFFF;
    border: 1px solid rgba(119, 119, 119, 0.2);
    box-sizing: border-box;
    border-radius: 28.5px;
    height: 57px;
    margin: 20px 0;
    padding: 0 20px;
    justify-content: space-between;
}
button.pry-btn[disabled] {
    background: rgba(110, 120, 131, 0.5);
}
div#done-btn-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.dashboard-form .user-detected-notice.center {
    margin: 10px 0 30px;
} 
.dashboard-form h1.modal-title {
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.5px;
}
.dashboard-form p.modal-desc {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #777777;
    margin-top: 10px;
}

@media(max-width: 600px) {
    .form-header-wrapper {
        width: 100%;
    }
}
/*---=== end of Pending Task Styling ===---*/